In [24]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

In [33]:
#Read Data Files
txpopulationbycounty_metadata_path = "txpopulationbycounty.csv"
TXPOP_metadata_path ="TXPOP.csv"

# Read the data 
county_metadata = pd.read_csv(txpopulationbycounty_metadata_path)
total_metadata = pd.read_csv(TXPOP_metadata_path)

total_metadata.head()

,DATE,TOTAL TEXAS POPULATION,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1/1/1990,"17,044,714",NaN,NaN,NaN,NaN,NaN
1,1/1/1991,"17,339,904",NaN,NaN,NaN,NaN,NaN
2,1/1/1992,"17,650,479",NaN,NaN,NaN,NaN,NaN
3,1/1/1993,"17,996,764",NaN,NaN,NaN,NaN,NaN
4,1/1/1994,"18,338,319",NaN,NaN,NaN,NaN,NaN

In [38]:
total_metadata = pd.read_csv(TXPOP_metadata_path)

x_axis = forline_df["Year"]
tumsiz = forline_df["Population"]

fig1, ax1 = plt.subplots(figsize=(15, 10))
plt.title('Texas Population 1990-2019',fontsize =25)
plt.plot(x_axis, tumsiz,linewidth=2, markersize=15,marker="o",color="blue", label="Fahreneit")
plt.xlabel('Year',fontsize =14)
plt.ylabel('Population',fontsize =14)

NameError: name 'forline_df' is not defined