In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

In [12]:
#Read Data Files
Texas_population_by_county_metadata_path = "Texas population by county.csv"
TXPOP_metadata_path ="TXPOP.csv"

# Read the data
population_by_county_metadata = pd.read_csv(Texas_population_by_county_metadata_path)
total_population = pd.read_csv(TXPOP_metadata_path)

total_population.head()

,DATE,TOTAL TEXAS POPULATION,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,1/1/1990,"17,044,714",NaN,NaN,NaN,NaN,NaN
1,1/1/1991,"17,339,904",NaN,NaN,NaN,NaN,NaN
2,1/1/1992,"17,650,479",NaN,NaN,NaN,NaN,NaN
3,1/1/1993,"17,996,764",NaN,NaN,NaN,NaN,NaN
4,1/1/1994,"18,338,319",NaN,NaN,NaN,NaN,NaN